@import "tailwindcss";

@theme {
  --color-persian-blue-800: #003BE2;
  --color-shuttle-gray-950: #242528;
  --color-shuttle-gray-900: #3A3B3F;
  --color-shuttle-gray-800: #424348;
  --color-shuttle-gray-700: #4B4C53;
  --color-shuttle-gray-400: #82868E;
  --color-shuttle-gray-200: #CED0D3;
  --color-shuttle-gray-100: #E5E6E8;
  --color-shuttle-gray-50: #F5F5F6;
  --color-electric-lime-400: #D4FB20;
  --color-black-950: #000000;
  --color-black-700: #4F4F4F;
  --color-black-400: #888888;
  --color-black-200: #D1D1D1;
  --color-electric-violet-950: #300B6A;
  --color-electric-violet-600: #7F30F7;

  /* Exact Figma raw colors */
  --color-hero-bg: #040819;
  --color-brand-lime: #CBFC01;
  --color-brand-blue: #003BE2;

  --font-satoshi: 'Satoshi', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-clash: 'Clash Display', sans-serif;
}

@utility bg-grid-pattern {
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 80px 80px;
}
@layer base {
  body {
    @apply font-satoshi text-shuttle-gray-950 bg-white;
  }
}
